<app-header></app-header>
<div class="container">
  
        <div class="container bg-faded">
            <img style="width: 120px; height:120px; margin: 40px;" src="./assets/img/ASU_Jordan_logo.PNG">
            <div>
                <h6  class="text-center">  فلنجعل من أردن العرب جامعة للعرب</h6>
            </div>
        </div>
        <div class="container" style="text-align: left;">
  
            <div class="column content" style="text-align: left;  ">
              
              <h5 >Faculty:Faculty of Information Technology</h5>
              <h5>Department:Software Engineering</h5>
              <h5>Academic Year:2018/2019</h5>
              <h5>Semester:First</h5>
              
            </div>
   </div>
  <ng-content></ng-content>
  <div class="container" style="text-align: left;">
      <h5>Course Description:</h5>
      <p>
          This module is designed to develop student’s knowledge, understanding, and skills to solve problems through the creation of software solutions. It covers concepts and methods to develop the architectural design of medium-size software systems with sufficient complexity. It introduces fundamental design concepts and notations, and discusses different design methods with emphasis on Object Oriented design methods and techniques. The module also covers the construction of maintainable software systems using on of the dominant Object Oriented programming languages. During the course, students will undertake a term project working individually and in groups addressing the design and construction of a relatively complex software system. 
        
      </p>
  </div>
  <div class="container" style="text-align: left;">
      <h5>Course Aims:</h5>
      <p>
          This course objective is to provide an overview of software analysis and design.  The primary objective is to describe the meaning of software design and architecture, describe design programming paradigms, apply appropriate system design approaches that are either object-oriented or structural design, explain Solid design principles, design models using Solid design principles, describe and comapre traditional software development process and Model-Driven Architecture (MDA) development process, explain and apply MDA concepts, describe Object Constraint Language (OCL), explain OCL importance in software design, design models with OCL such as class diagram, interaction diagram, state charts diagrams and activity diagrams and explain the use of OCL for MDA.
      </p>
  </div>
  <div class="container" style="text-align: left;">
      <h5>Intended Learning Outcome:</h5>
      <p>
          Following the successful completion of this course, the student should be able to: 
      </p>
      <ol  type="A" start="1">
          <li style="font-weight: bold;">Knowledge and Understanding:</li>
              <ol type="1">
               <li>Define the meaning of software design and architecture. </li>
              </ol>
          <li style="font-weight: bold;">Subject Specific Skills</li>
              <ol type="1">
                <li>Apply SOLID design principles.</li>
                <li>Apply design concepts of MDA.</li>
              </ol>
          <li style="font-weight: bold;">Cognitive and Intellectual Skill</li>
              <ol type="1">
                <li>Diagram structured models </li>
                <li>Diagram object-oriented models </li>
              </ol>
          <li style="font-weight: bold;">Transferable Skills:</li>
          <p>None</p>
        </ol>  
        
  </div>
    
<app-footer></app-footer>